<mat-toolbar color="primary">
  <span>
    <a routerLink="/">{{ "HEADER.TITLE" | translate }}</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >{{ "HEADER.NEWPOST" | translate }}</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">{{
        "HEADER.LOGIN" | translate
      }}</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">{{
        "HEADER.SIGNUP" | translate
      }}</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">{{ "HEADER.LOGOUT" | translate }}</button>
    </li>
    <li>
      <select
        class="form-control"
        #selectedLang
        (change)="translateService.switchLang(selectedLang.value)"
      >
        <option
          *ngFor="let language of translateService.getLangs()"
          [value]="language"
          [selected]="language === translateService.currentLang"
        >
          {{ language }}
        </option>
      </select>
    </li>
  </ul>
</mat-toolbar>
