<mat-card>    
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="{{'AUTH.EMAIL' | translate}}" #emailInput="ngModel" required email />
            <mat-error *ngIf="emailInput.invalid">{{'AUTH.EMAIL_INVALID' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" ngModel type="password" placeholder="{{'AUTH.PASSWORD' | translate}}" #passwordInput="ngModel" required />
            <mat-error *ngIf="passwordInput.invalid">{{'AUTH.PASSWORD_INVALID' | translate}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">{{'AUTH.LOGIN' | translate}}</button>
    </form>
</mat-card>