<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="{{'POSTS.TITLE' | translate}}"
      />
      <mat-error *ngIf="form.get('title').invalid">{{'POSTS.TITLE_INVALID' | translate}}</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)=filePicker.click()>{{'POSTS.IMAGE' | translate}}</button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"       
        placeholder="{{'POSTS.CONTENT' | translate}}"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >{{'POSTS.CONTENT_INVALID' | translate}}</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{'POSTS.SAVE' | translate}}</button>
  </form>
</mat-card>
