:host {
    display: block;
    margin-top: 1rem;
}

mat-spinner {
    margin: auto;
}

mat-paginator {
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
